---
import DolarIcon from "./ui/icons/DolarIcon.astro";
---

<section class="h-auto bg-brand-black relative">
  <div class="flex flex-col lg:flex-row py-20 pb-0 px-18 lg:sticky top-0">
    <article
      id="subscription-hero"
      class="flex-1 flex flex-col justify-center gap-4"
    >
      <h2 class="lg:text-9xl text-5xl">Subscription Benefits</h2>
      <p class="lg:text-3xl text-xl">
        How the subscription differs from the traditional way of interaction
      </p>
    </article>

    <div
      id="rocket-video"
      class="lg:flex-1 lg:py-20 lg:pb-0 lg:px-18 mb-16 lg:mb-0"
    >
      <video
        class="w-full max-w-[663px]"
        src="/images/Rocket_dark.mp4"
        autoplay
        muted
        loop
        poster="/images/Rocket_dark.webp"></video>
    </div>

    <!-- Tarjetas desde abajo -->
    <ul
      class="lg:hidden flex flex-col gap-4 items-center h-auto lg:h-screen lg:top-0 z-40 lg:absolute lg:overflow-x-visible"
    >
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
    </ul>

    <!-- Tarjetas desde la derecha -->
    <ul
      class="hidden lg:flex flex-row gap-4 items-center h-screen top-0 z-50 absolute overflow-x-visible"
    >
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
      <li>
        <div class="size-12 rounded-full blur-2xl text-brand-block/50">
          <DolarIcon />
        </div>
        <h3 class="text-6xl">Fixed monthly price</h3>
        <p class="text-2xl">
          Say goodbye to unexpected high design fees and welcome the peace of
          mind with a fixed monthly price
        </p>
      </li>
    </ul>
  </div>

  <div class="lg:block hidden h-screen w-screen bg-brand-black"></div>
  <div class="lg:block hidden h-screen w-screen bg-brand-black"></div>

  <!-- Priorities -->
  <div
    class="h-screen w-screen bg-brand-black flex items-center justify-center"
  >
    <div class="max-w-4xl w-full gap-16 flex flex-col">
      <h3 class="text-7xl">Our priorities</h3>
      <p class="text-lg w-full max-w-[40ch] self-end">
        Our priority is to do the project quickly, but at the same time pay
        attention to the quality of the final result.
      </p>
    </div>
  </div>
  <!-- <div class="h-screen w-screen bg-brand-whatsapp"></div> -->
</section>

<style>
  @media (width >= 1024px) {
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 500.711px !important;
      height: 627.383px;
      padding: 61.25px;
      border-radius: 16px;
      flex-grow: 1;
      flex-shrink: 0;
      top: 0;

      &:nth-of-type(1) {
        background-color: var(--color-brand-block);
        top: 0px !important;
      }
      &:nth-of-type(2) {
        background-color: #977584;
        top: 0px !important;
      }
      &:nth-of-type(3) {
        background-color: #3443e0;
        top: 0px !important;
      }
      &:nth-of-type(4) {
        background-color: #ea87df;
        top: 0px !important;
      }
      &:nth-of-type(5) {
        background-color: #57416b;
        top: 0px !important;
      }
      &:nth-of-type(6) {
        background-color: #7221a3;
        top: 0px !important;
      }

      &:nth-of-type(2n + 1) {
        animation: card-to-left linear both;
        animation-timeline: view();
        animation-range: contain 0% contain 100%;
      }

      &:nth-of-type(2n + 2) {
        animation: card-to-right linear both;
        animation-timeline: view();
        animation-range: contain 0% contain 100%;
      }
    }

    #rocket-video,
    #subscription-hero {
      animation: hide linear both;
      animation-timeline: view();
      animation-range: contain 0% contain 25%;
    }

    ul {
      animation: show-services linear both;
      animation-timeline: view();
      animation-range: contain -10% contain 90%;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 627.383px;
    padding: 61.25px;
    border-radius: 16px;
    flex-grow: 1;
    flex-shrink: 0;
    position: sticky;

    &:nth-of-type(1) {
      background-color: var(--color-brand-block);
      top: calc(0px + 100px);
    }
    &:nth-of-type(2) {
      background-color: #977584;
      top: calc(40px + 100px);
    }
    &:nth-of-type(3) {
      background-color: #3443e0;
      top: calc(80px + 100px);
    }
    &:nth-of-type(4) {
      background-color: #ea87df;
      top: calc(120px + 100px);
    }
    &:nth-of-type(5) {
      background-color: #57416b;
      top: calc(160px + 100px);
    }
    &:nth-of-type(6) {
      background-color: #7221a3;
      top: calc(200px + 100px);
    }
  }

  @keyframes show-services {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-150%);
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes card-to-left {
    to {
      transform: rotate(-5deg);
    }
  }

  @keyframes card-to-right {
    to {
      transform: rotate(5deg);
    }
  }
</style>
