<header class="fixed top-0 p-6 bg-brand-black/20 z-50 w-full">
  <div class="max-w-7xl flex w-full justify-between items-center mx-auto">
    <img
      class="w-40"
      src="/images/logo-white.svg"
      alt="Imagen del logo de fancy."
    />

    <ul class="flex flex-row gap-12">
      <li>Subscription</li>
      <li>Services</li>
      <li>Pricing</li>
      <li>Works</li>
      <li>About us</li>
      <li>FAQ</li>
    </ul>

    <div class="max-w-28">
      <button>Let's talk</button>
    </div>
  </div>
</header>

<style>
  header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
</style>
