<section class="h-screen w-screen relative grid content-center">
  <video
    class="hidden lg:block w-full absolute top-0 left-0 -z-40"
    src="/images/startups-hero-hor.mp4"
    autoplay
    muted
    loop
    poster="/images/startups-hero-hor.webp"></video>

  <video
    class="w-full absolute top-0 left-0 -z-40 lg:hidden"
    src="/images/startups-hero-vert.mp4"
    autoplay
    muted
    loop
    poster="/images/startups-hero-vert.webp"></video>

  <article
    class="max-w-2xl w-full lg:bg-brand-black relative z-10 place-self-center lg:place-self-end px-12 py-6 space-y-6"
  >
    <h2 class="text-5xl text-center lg:text-8xl text-balance lg:text-start">
      Design Subscription for Startups
    </h2>
    <p
      class="text-xl text-center lg:text-2xl lg:text-balance lg:text-start w-[30ch] mx-auto lg:mx-0 lg:w-auto"
    >
      Your on-call design team that can deliver branding, websites, apps, and
      more!
    </p>
    <!-- Carousel -->
    <div></div>
  </article>
</section>
