<section class="h-screen w-screen relative grid content-center">
  <video
    class="w-full absolute top-0 left-0 -z-40"
    src="/images/startups-hero-hor.mp4"
    autoplay
    muted
    loop
    poster="/images/startups-hero-hor.webp"></video>

  <article
    class="max-w-2xl w-full bg-brand-black relative z-10 place-self-end px-12 py-6 space-y-6"
  >
    <h2 class="text-8xl text-balance">Design Subscription for Startups</h2>
    <p class="text-2xl text-balance">
      Your on-call design team that can deliver branding, websites, apps, and
      more!
    </p>
    <!-- Carousel -->
    <div></div>
  </article>
</section>
